body{
	background-color:#D0D0D0 ;
}

/*menu bar*/
#content {
    position: relative;
    margin: 0 auto;
    width: 850px;
    top: 50px;
    height: 100px;
    font-family:"Euphemia", Times, serif;
}

#menuBar {
    list-style: none; 
    margin: 0; 
    padding: 0;
    font-size: 1.2em;
    float: right;
    position: relative
}

#menuBar li {
    float: left; 
    position: relative;
}

#menuBar li a
{
    float: left;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    margin-right: 10px;
}

/*css for hover*/
#menuBar li a:hover
{
    background: #999;
    color: #fff;    
}



/*background for content*/
#wrapper{
	width:950px;
	height:700px;
	margin-top: 10px;
    position:relative;
	background-color: white;
	/*Display blank div's*/
	border:  1px solid #A8A8A8;
	/*center align*/
	margin-left: auto ;
    margin-right: auto ;


}

#videoStream{
	margin-top:10%;
	margin-left: auto ;
    margin-right: auto ;
    display:block;
	width:620px;
}

#playerList{
    background-color:#303030;
    float:left;
    height:700px;
    width:200px;

}

#playerList ul{
    list-style-type: none;

    /*Disable text selection*/
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}

/*Streams*/
#playerList li.catagory{
    font-size:15px;
    color:#C0C0C0   ;
    height:30px;
    width:200px;
    border-bottom:1px solid black;
    font-weight: bold;
    text-indent: 1em;
    display: table-cell; 
    vertical-align: middle; 

}
/*Streamer's name*/
#playerList li.streamer_name{
    height:42px;
    color:#D0D0D0  ;
    font-size: 18px;
    display:block;
    border-bottom:1px solid black;

}



#playerList img{
    margin:2px 2px 2px 2px;
    vertical-align:middle;
    float:left;
    height:36px;
    width:36px;
}

li.streamer_name:hover{
    background-color: #404040;
    color:white ;
    cursor: pointer;
}

li.streamer_name:active{
    background-color: black;
    color:white ;
}

*{
    margin:0;
    padding:0;
    
}
