body {
    background-color:#D0D0D0;
}
#banner {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-60px;
    margin-top:15px;
}
/*menu bar*/

#content {
    position:relative;
    margin:0 auto;
    width:850px;
    top:50px;
    height:100px;
    font-family:"Euphemia";
}
#menuBar {
    list-style:none;
    margin:0;
    padding:0;
    font-size:1.2em;
    float:right;
    position:relative;

    /*Disable text selection*/
    -webkit-user-select:none;
    /* Chrome/Safari */        
    -moz-user-select:none;
    /* Firefox */
    -ms-user-select:none;
    /* IE10+ */
}
    #menuBar li {
        float:left;
        position:relative;
        padding:13.5px;
    }
        #menuBar li a {
            float:left;
            display:block;
            padding:10px;
            text-decoration:none;
            color:#666;
            text-transform:uppercase;
            margin-right:10px;
        }
/*css for hover*/
            
#menuBar li a:hover {
                background:#999;
                color:#fff;
                cursor:pointer;
            }
/*background for content*/

#wrapper {
    width:1220px;
    height:700px;
    margin-top:10px;
    position:relative;
    background-color:white;
    /*Display blank div's*/
    border:1px solid #A8A8A8;
    /*center align*/
    margin-left:auto;
    margin-right:auto;
}
/*Wrapper for player list. Left section. Contains buttons for streamers*/

#playerListWrapper {
    position:absolute;
    background-color:#303030;
    height:700px;
    width:220px;
    overflow: auto;
}
/*Wrapper for video stream. Middle section. Contains the title/player/description*/

#streamWrapper {
    position:absolute;
    width:699px;
    height:700px;
    left:220px;
    border-right:1px solid #A8A8A8;
}

.streamerText{
    margin-left:10px;
    margin-right:10px;
    border-bottom:1px solid;
    border-bottom-color: #A8A8A8;
}
/*Wrapper for video stream. Right section. Contains chat of current streamer*/

#chatboxWrapper {
    
    position:absolute;
    right:0;
    height:700px;
    width:300;
}
#streamPlayer {
    margin-top:10px;
    margin-left:8px;
}
#videoStream {
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:620px;
}
#playerList ul {
    list-style-type:none;
    /*Disable text selection*/
    -webkit-user-select:none;
    /* Chrome/Safari */        
    -moz-user-select:none;
    /* Firefox */
    -ms-user-select:none;
    /* IE10+ */

    /* Not implemented yet */
    -o-user-select:none;
    user-select:none;
}
/*Streams*/

#playerListWrapper li.catagory {
    font-size:15px;
    color:#C0C0C0;
    height:30px;
    width:250px;
    border-bottom:1px solid black;
    font-weight:bold;
    text-indent:1em;
    display:table-cell;
    vertical-align:middle;
    font-family:"Euphemia";
}
/*Streamer's name*/

#playerListWrapper li.streamer_name {
    height:48px;
    color:#D0D0D0;
    font-size:15px;
    display:block;
    border-bottom:1px solid black;
    font-family:"Euphemia";
}
#playerListWrapper img {
    margin:5px 2px 2px 2px;
    vertical-align:middle;
    float:left;
    height:36px;
    width:36px;
}
li.streamer_name:hover {
    background-color:#404040;
    color:white;
    cursor:pointer;
}
li.streamer_name:active {
    background-color:black;
    color:white;
}
* {
    margin:0;
    padding:0;
    margin-left:0;
}
#testing {
    background-color:red;
}
 /*Change scroll bar color*/
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(208, 208, 208, 1); 
}

#footer {
    width:730px;
    margin:0px 0 0px 600px;
    font-size:12px;
    font-family:"Euphemia";
    color: #4d4d4d;

}

.companies{
    text-decoration: none;

}

#contactUs{
    text-decoration: underline;
}

a:link {color:#4d4d4d;}      /* unvisited link */
a:visited {color:#4d4d4d;}  /* visited link */
